name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}

    steps:
      - uses: actions/checkout@v6
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x
          
      - name: Restore Dependencies
        run: dotnet restore
        
      - name: Build
        run: dotnet build -c Release
        
      - name: Pack
        run: dotnet pack -o nuget/
        
      - name: Get Version
        id: version
        run: |-
          VERSION=$(dotnet build AssetHelperLib/AssetHelperLib.csproj -getProperty:PackageVersion)
          echo Version is $VERSION
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          
      - name: Upload Build Artifacts (DLLs)
        uses: actions/upload-artifact@v6
        with:
          name: build-output
          path: "AssetHelperLib/bin/Release/**/*.dll"

      - name: Upload NuGet Package
        uses: actions/upload-artifact@v6
        with:
          name: nuget-package
          path: nuget/*.nupkg

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    environment: production
    
    steps:
      - name: Download NuGet Package
        uses: actions/download-artifact@v7
        with:
          name: nuget-package
          path: nuget/

      - name: NuGet Login
        id: login
        uses: NuGet/login@v1
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Publish NuGet
        id: publish
        run: |-
          dotnet nuget push nuget/*.nupkg \
            --api-key ${{ steps.login.outputs.NUGET_API_KEY }} \
            --source https://api.nuget.org/v3/index.json
        continue-on-error: true

      - name: Create Release
        if: steps.publish.outcome == 'success'
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          generate_release_notes: true
          tag_name: v${{ needs.build.outputs.version }}
